$gray29: #00000029;
$grayA5: #A5A5A5;
$gray9A: #95989A;
$gray70: #707070;
$grayED: #E8E9ED;
$white: #FFFFFF;
$whiteF7: #F7F7F7;
$black: #000000;
$blueE4: #08A6E4;
$blueE6: #07ACE6;
$babyblue: #07ACE629;
$green: #55DFB4;
$ruby64: #FB3B64;
$ruby6E: #EB476E;
$denim: #13253B;
$babypink129: #FF091129;
$babypink629: #F9043629;
