body {
  font-family: var(--Open-Sans);
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: var(--Raleway);
}

.container {
  width: 1352px;
  margin: 0 auto;
}